.cs-message.cs-message--outgoing.cs-message--first .cs-message__content,
.cs-message--incoming .cs-message__content, .cs-message-input__content-editor-wrapper, .cs-message-input__content-editor[data-placeholder]:empty:before {
  color: white;
  font-size: 15px;
  font-weight: 700;
  background-color: #1f1f1f; /* Example */
}
